@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-jakarta: Plus+Jakarta+Sans, "sans-serif";
  --font-public: Public+Sans, "sans-serif";

  --color-primary: #32756C;
  --color-secondary: #F0F2F4;
  --color-test: #475156;
  --color-green: #2DB224;
  --color-disable: #ADB7BC;
  --color-red: #EE5858;
  --color-orange: #FAA949;
}